<div class="card mt-5">
    <div class="card-body">
        <h4 class="card-title"> Surveys </h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Zip</th>
                    <th>Province</th>
                    <th>Country</th>
                    <th>CoronaAffected</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let survey of surveys">
                    <td>{{survey._id}}</td>
                    <td>{{survey.name}}</td>
                    <td>{{survey.email}}</td>
                    <td>{{survey.gender}}</td>
                    <td>{{survey.age}}</td>
                    <td>{{survey.address}}</td>
                    <td>{{survey.city}}</td>
                    <td>{{survey.zip}}</td>
                    <td>{{survey.province}}</td>
                    <td>{{survey.country}}</td>
                    <td>{{survey.coronaAffected}}</td>
                    <td> <button class="btn btn-danger" (click)="doDelete(survey)">Delete</button> 
                        <button class="btn btn-primary" (click)="doUpdate(survey)">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>